$SteppingStone1: #f21651;
$SteppingStone2: #f22797;
$SteppingStone3: #5204bf;
$SteppingStone4: #4158d9;
$SteppingStone5: #0d0d0d;

$SteppingStoneBG1: #5204bf;
$SteppingStoneBG2: #0d0d0d;

$body-bg: rgb(255, 255, 255);
$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;
$white: #fff;
$gray: #6c757d;
$gray-dark: #343a40;
$primary: #73263a;
$secondary: #a6916a;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #350058;
$dark: #343a40;
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
  'Segoe UI Symbol';
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
  'Liberation Mono', 'Courier New', monospace;

@import '~bootstrap/scss/bootstrap.scss';

.logo {
  font-size: 90px;
  // background: linear-gradient(
  //   330deg,
  //   $SteppingStone5 0%,
  //   $SteppingStone3 100%
  // ) !important;
  font-weight: 900;
  // opacity: 70%;

  text-transform: uppercase;
  background: linear-gradient(
    to right,
    $SteppingStone3 0%,
    $SteppingStone4 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  // .stepping {
  //   color: black;
  //   opacity: 70%;
  // }
  // .stepping:after {
  //   content: 'STEPPING';
  //   position: absolute;
  //   left: 10.5%;
  //   top: 30.5%;
  //   color: $SteppingStone1;
  //   opacity: 70%;
  // }

  // .stone {
  //   color: black;
  //   opacity: 70%;
  // }
  // .stone:after {
  //   content: 'STONE';
  //   position: absolute;
  //   left: 10.2%;
  //   top: 45.2%;
  //   color: $SteppingStone1;
  //   opacity: 70%;
  // }
}

.progress {
  display: flex;
  height: 1rem;
  overflow: hidden;
  font-size: 0.75rem;
  background-color: rgba(174, 17, 74, 0.5);
  border-radius: 0.25rem;
}

body {
  margin: 0 !important;
  font-family: 'Poppins', sans-serif !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  background: $SteppingStoneBG2;
  color: white !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace !important;
}

.fillPage {
  height: 100vh;
}

.App {
  text-align: center !important;
}

.focus {
  color: rgba(255, 255, 255, 0.8) !important;
}

.link {
  color: rgba(255, 255, 255, 0.7);
}

.link:hover {
  text-decoration: underline !important;
}

ul {
  list-style: none;
}

.admin {
  display: flex;
  background: #dbdbdb;
  width: 100%;
  height: 100vh;
  position: relative;
  color: black;
}

.adminSidebar {
  background-image: linear-gradient(
    330deg,
    $SteppingStoneBG1 0%,
    $SteppingStoneBG2 100%
  ) !important;
  background-size: 200%;
  background-position: 0 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  transform: translateX(-70%);
  transition: 300ms ease-in-out;
  z-index: 1;
  overflow: hidden;
  cursor: pointer;

  &--open {
    background-size: 100%;
    background-position: 0 0;
    transform: translateX(0);
  }
}

.adminContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  transition: 300ms ease-in-out;
  z-index: 2;
  margin-left: 6%;

  &--open {
    margin-left: 20%;
  }
}

.adminBox {
  background-color: #f0f0f0;
}

.adminMenu {
  color: white;
  width: 100%;
  height: 10%;
  margin-top: 10%;
  padding: 0;
  li {
    padding: 10px;
  }

  .label {
    padding-left: 10px;
    visibility: hidden;
    opacity: 0;
  }
}

.pl10 {
  padding-left: 10px;
}
.adminMenu::after {
  content: '';
  background: $SteppingStone1;
  opacity: 0.2;
  width: 100%;
  height: 50%;
  margin-top: 10%;
  left: 0;
  top: 0;
  position: absolute;
  z-index: -1;
  padding-left: 10px;
}

.moveRight {
  position: absolute;
  margin-left: 60%;
  display: flex;
  justify-content: center;
  width: 30%;
  padding-left: 10px;
}

.fadeOut {
  visibility: hidden !important;
  opacity: 0 !important;
  transition: visibility 0s linear 300ms, opacity 300ms;
}

.fadeIn {
  visibility: visible !important;
  opacity: 1 !important;
  transition: visibility 0s linear 0s, opacity 300ms;
}

.shape {
  position: absolute;
  top: 90%;
  left: -50%;
  width: 180%;
  height: 50%;
  background: linear-gradient($SteppingStone1 20%, $SteppingStone3);
  z-index: -1;
  opacity: 0;
  transform: rotate(20deg);
  margin-left: 0;
  margin-top: 0;
  transition: 1s ease;

  &:nth-child(2) {
    background: linear-gradient($SteppingStone3 20%, $SteppingStone1);
    transform: rotate(20deg);
    margin-top: 0;
  }

  .adminSidebar--open & {
    animation: float 15s infinite ease-in-out;
    margin-left: -100px;
    margin-top: -20px;
    opacity: 0.2;
    transform: scale(1) translateY(0) rotate(20deg);

    &:nth-child(2) {
      animation: float 10s infinite reverse ease-in-out;
      transform: scale(1) translateY(100px) translateX(170px) rotate(-20deg);
    }
  }
}

@keyframes float {
  50% {
    top: 60%;
  }
}
