$SteppingStone1: #f21651;
$SteppingStone2: #f22797;
$SteppingStone3: #5204bf;
$SteppingStone4: #4158d9;
$SteppingStone5: #0d0d0d;

$COLOR0: #5204bf;
$COLOR1: #6d0ab8;
$COLOR2: #8710b2;
$COLOR3: #a216ab;
$COLOR4: #bd1ba4;
$COLOR5: #d7219e;
$COLOR6: #f22797;

$SteppingStoneBG1: #5204bf;
$SteppingStoneBG2: #0d0d0d;

$body-bg: rgb(255, 255, 255);
$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;
$white: #fff;
$gray: #6c757d;
$gray-dark: #343a40;
$primary: $SteppingStone3;
$secondary: $SteppingStone4;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #350058;
$dark: #343a40;
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
  'Segoe UI Symbol';
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
  'Liberation Mono', 'Courier New', monospace;

@import '~bootstrap/scss/bootstrap.scss';

html {
  scroll-snap-type: y mandatory;
}

.fixed {
  position: fixed;
}

.c-success {
  color: $green;
}
.c-danger {
  color: $red;
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.homeBlocks {
  scroll-snap-align: start;
}

.logo {
  font-weight: 900;
  line-height: 0.8;
  text-transform: uppercase;
  background: linear-gradient(
    to right,
    $SteppingStone3 0%,
    $SteppingStone4 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header {
  margin-top: -7%;
  text-align: right;
  padding: 1%;
  opacity: 0.8;
  span {
    font-weight: 900;
    font-size: 60px;
    line-height: 0.8;
    text-transform: uppercase;
    background: linear-gradient(to right, $COLOR3 0%, $COLOR6 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.chartTooltip {
  position: relative;
}

.chartTooltip:before {
  content: '';
  background: $COLOR4;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.3;
}

.homeContainer {
  padding: 15% 10%;
  height: 100vh;
  width: 100%;
}

.withTitle {
  padding: 15% 10% 5% 10%;
}

.withoutTitle {
  padding: 15% 10%;
}

.title {
  padding: 20% 10%;
  height: 100vh;
  width: 100%;

  .subtitle {
    font-weight: 100;
    background: linear-gradient(to right, $COLOR3 0%, $COLOR6 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: justify;
    text-justify: inter-word;
    padding-top: 15%;
    position: absolute;
    width: 40%;
  }
}

.logoDiv {
  position: absolute;
  padding-top: 20%;
  padding-left: 10%;
  font-size: 80px;
  -webkit-transition: font-size 0.5s ease;
  -moz-transition: font-size 0.5s ease;
  -o-transition: font-size 0.5s ease;
  transition: font-size 0.5s ease;

  &--admin {
    padding: 0% !important;
  }

  &--fixed {
    position: fixed;
    padding-top: 3%;
    padding-left: 10%;
    font-size: 40px;
  }
}

.fade-in-section {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1200ms ease-out, transform 600ms ease-out,
    visibility 1200ms ease-out;
  will-change: opacity, transform, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.progress {
  display: flex;
  height: 1rem;
  overflow: hidden;
  font-size: 0.75rem;
  border-radius: 0.25rem;
}

body {
  margin: 0 !important;
  font-family: 'Poppins', sans-serif !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  background: $SteppingStoneBG2;
  color: white !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace !important;
}

.fillPage {
  height: 100vh;
}

.App {
  text-align: center !important;
}

.focus {
  color: $SteppingStone3 !important;
}

.link {
  color: $SteppingStone4;
}

.link:hover {
  text-decoration: underline !important;
}

ul {
  list-style: none;
}

// Admin

.admin {
  display: flex;
  background: $SteppingStone5;
  width: 100%;
  height: 100vh;
  position: relative;
  color: black;
}

.adminContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  transition: 300ms ease-in-out;
  z-index: 2;
  margin-left: 6%;
  padding: 3% 10%;
  &--open {
    margin-left: 20%;
  }
}

.adminContainer {
  background-color: white;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05), 0 2px 2px rgba(0, 0, 0, 0.05),
    0 4px 4px rgba(0, 0, 0, 0.05), 0 6px 8px rgba(0, 0, 0, 0.05),
    0 8px 16px rgba(0, 0, 0, 0.05);
  padding: 5% 10%;
  width: 100%;
  border-radius: 10px;
}

.adminLogin {
  background: $SteppingStoneBG2;
  width: 100%;
  height: 100vh;
  position: relative;
  color: black;
}

.loginContent {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 20%;
}

.loginContainer {
  background-color: white;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05), 0 2px 2px rgba(0, 0, 0, 0.05),
    0 4px 4px rgba(0, 0, 0, 0.05), 0 6px 8px rgba(0, 0, 0, 0.05),
    0 8px 16px rgba(0, 0, 0, 0.05);
  padding: 2% 5%;
  width: 50%;
  border-radius: 10px;
}

.adminTopBar {
  width: 100%;
  height: 30%;
}

.adminSidebar {
  opacity: 70%;
  background-image: linear-gradient(
    330deg,
    $SteppingStoneBG1 0%,
    $SteppingStoneBG2 100%
  ) !important;
  background-size: 200%;
  background-position: 0 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  transform: translateX(-70%);
  transition: 300ms ease-in-out;
  z-index: 1;
  overflow: hidden;
  cursor: pointer;

  &--open {
    background-size: 100%;
    background-position: 0 0;
    transform: translateX(0);
  }

  li {
    color: white;
    opacity: 0.5;
  }

  li:hover {
    color: white;
    opacity: 1;
  }

  .selected {
    opacity: 1;
  }
}

.adminMenu {
  color: white;
  width: 100%;
  height: 10%;
  margin-top: 10%;
  padding: 0;
  li {
    padding: 10px;
  }

  .label {
    padding-left: 10px;
    visibility: hidden;
    opacity: 0;
  }
}

.pl10 {
  padding-left: 10px;
}

.adminList {
  ul {
    padding: 0px !important;
    margin: 0px !important;
  }
  li {
    padding: 0px !important;
    margin: 0px !important;
  }
}

.adminMenu::after {
  content: '';
  background: $SteppingStone5;
  opacity: 0.2;
  width: 100%;
  height: 50%;
  margin-top: 10%;
  left: 0;
  top: 0;
  position: absolute;
  z-index: -1;
  padding-left: 10px;
}

.moveRight {
  position: absolute;
  margin-left: 60%;
  display: flex;
  justify-content: center;
  width: 30%;
  padding-left: 10px;
}

.fadeOut {
  visibility: hidden !important;
  opacity: 0 !important;
  transition: visibility 0s linear 300ms, opacity 300ms;
}

.fadeIn {
  visibility: visible !important;
  opacity: 1 !important;
  transition: visibility 0s linear 0s, opacity 300ms;
}

.shape {
  position: absolute;
  top: 90%;
  left: -50%;
  width: 180%;
  height: 50%;
  background: linear-gradient($SteppingStone5 20%, $SteppingStone3);
  z-index: -1;
  opacity: 0;
  transform: rotate(20deg);
  margin-left: 0;
  margin-top: 0;
  transition: 1s ease;

  &:nth-child(2) {
    background: linear-gradient($SteppingStone3 20%, $SteppingStone5);
    transform: rotate(20deg);
    margin-top: 0;
  }

  .adminSidebar--open & {
    animation: float 15s infinite ease-in-out;
    margin-left: -100px;
    margin-top: -20px;
    opacity: 0.2;
    transform: scale(1) translateY(0) rotate(20deg);

    &:nth-child(2) {
      animation: float 10s infinite reverse ease-in-out;
      transform: scale(1) translateY(100px) translateX(170px) rotate(-20deg);
    }
  }
}

@keyframes float {
  50% {
    top: 60%;
  }
}

.loadingDot {
  border-radius: 100%;
  animation: dot-animation-1 1.3s infinite ease-in;
  opacity: 0.2;
  width: 16px;
  height: 16px;
  margin: 16px;
  background: $COLOR2;
}

.loadingDot:nth-child(2) {
  animation-name: dot-animation-2;
}

.loadingDot:nth-child(3) {
  animation-name: dot-animation-3;
}

.loading {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

@keyframes dot-animation-1 {
  0%,
  55% {
    opacity: 0.2;
  }
  30% {
    opacity: 1;
  }
}

@keyframes dot-animation-2 {
  20%,
  70% {
    opacity: 0.2;
  }
  45% {
    opacity: 1;
  }
}

@keyframes dot-animation-3 {
  35%,
  100% {
    opacity: 0.2;
  }
  60% {
    opacity: 1;
  }
}

$dot: 11px;
$weight: 1px;
$spacing: 10px;

.guide {
  margin: 0;
  padding: 0;
  list-style: none;
  margin: $spacing auto;
  border-right: $weight solid pink;
  line-height: 1.4em;
  padding: $spacing;

  li {
    position: relative;
    margin: 0;
    list-style: none;
  }

  .page {
    padding-bottom: $spacing;
    margin-bottom: $spacing;

    &:last-of-type {
      padding-bottom: 0;
      margin-bottom: 0;
      border: none;
    }

    &:before,
    &:after {
      position: absolute;
      display: block;
      top: 0;
    }

    &:after {
      box-shadow: 0 0 0 1px pink;
      right: -($spacing + ($weight * 0.5) + ($dot * 0.5));
      background: $SteppingStoneBG2;
      border: $pink;
      border-radius: 50%;
      height: $dot;
      width: $dot;
      content: '';
      top: 5px;
    }
  }
}
