body {
  margin: 0 !important;
  font-family: Andika !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  background: radial-gradient(
    circle,
    rgba(173, 28, 96, 1) 0%,
    rgba(142, 6, 52, 1) 100%
  ) !important;
  height: 100vh;
  color: white !important;
  padding-left: 10%;
  padding-right: 10%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace !important;
}

.App {
  text-align: center !important;
}

.focus {
  color: rgba(255, 255, 255, 0.8) !important;
}

.link {
  color: rgba(255, 255, 255, 0.7);
}

.link:hover {
  text-decoration: underline !important;
}
