:root {
  --animationX: xAxis 2.5s infinite cubic-bezier(0.3, 0.27, 0.07, 1.64);
  --animationY: yAxis 2.5s infinite cubic-bezier(0.3, 0.27, 0.07, 1.64);
}

.ball {
  animation: var(--animationX);
  position: absolute;
  z-index: -1;
}

.ball::after {
  z-index: -1;
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: rgb(128, 128, 128);
  animation: var(--animationY);
}

.ball1 {
  z-index: -1;
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: #fff;
  animation: var(--animationX);
}

.ball2 {
  z-index: -1;
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: rgb(0, 0, 0);
  animation: var(--animationY);
}

@keyframes yAxis {
  50% {
    animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    transform: translateY(-300px);
  }
}

@keyframes xAxis {
  50% {
    animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
    transform: translateX(-100px);
  }
}

.landingBox {
  position: absolute;
  top: 0;
  bottom: 0;
}
